.footer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: rgb(105, 104, 104);
}

.icons {
  display: flex;
  justify-content: center;
}

.icons a {
  margin: 0 1rem 0 1rem;
}

/* To make the whole footer and icons sticky to the page bottom
Not sure if this is part of the design or not? */

/* .sticky {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
} */
