.footer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: rgb(105, 104, 104);
  position: absolute;
  left: 2.5rem;
  bottom: 0.1rem;
}
.footer p {
  font-weight: 300;
  font-family: inherit;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 3.375rem;
  margin-bottom: 0.9375rem;
}

.icons a {
  margin: 0 1rem 0 1rem;
}

/* To make the whole footer and icons sticky to the page bottom
Not sure if this is part of the design or not? */

.sticky {
  margin-top: auto;
  position: relative;
  /* position: fixed;
  left: 0;
  bottom: 0; */
  width: 100%;
  text-align: center;
  /* z-index: 1; */
  background-color: #fff;
}
