.navbar {
  background-color: #ffffff;
  height: 3rem;
  margin: 0;
  justify-content: center;
  height: 100%;
  color: black;
  font-size: 2rem;
  font-family: 'Montserrat', cursive;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  margin: 0 4rem 0 4rem;
  font-family: "Montserrat";
  font-weight: 600;
}

.navbar a:hover {
  color: #067A75;
}