.navbar {
  background-color: #ffffff;
  height: 3rem;
  margin: 0;
  justify-content: center;
  height: 100%;
  color: black;
  font-size: 1.125rem;
  font-family: 'Montserrat', cursive;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.3125rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.3125rem;
}

.navbar a {
  margin: 0 4rem 0 4rem;
  font-family: "Montserrat";
  font-weight: 600;
}

.navbar a:hover {
  color: #067A75;
}

.login {
  position: relative;
  top: 2rem;
  left: 2rem;
  color: white;
  font-family: "Montserrat";
  padding: 0.45rem 1rem;
  background-color: #067A75;
  border-radius: 10%;
  font-size: large;
}