.card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding-left: 1rem;
  max-width: 50rem;
  height: 15rem;
  background-color: #F2F7FF;
}

.card h2 {
  margin: 0 1rem 0 0;
}

.card p {
  margin: 1rem 1rem 0 0;
}