.title {
  display: flex;
  flex-direction: column;
  background-color: #F2F7FF;
  justify-content: center;
  align-items: stretch;
  
}

.title h1 {
  text-align: center;
}

.title form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 20rem;
}